<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="StylePrimero.css">
    <title>ventana modal</title>
</head>
<body>
    <section class="modal">
        <div class="modal-container">
            <img class="modal-img" src="Logo Reconocimiento Facial - Blanco.png" alt="">
            <h2 class="title">RECUERDA QUE...</h2>
            <p class="paragraph">
                Debe registrarse desde la aplicacion movil.
            </p>
            <div class="btns">
                <a href="index.html" class="open-view">OK</a>
            </div>
            <a href="index.html" class="close">&times;</a>
        </div>
    </section>
</body>
</html>